<div class="login_wrapper">
  <div class="login_left">
    <%= image_tag "signup_image.png", alt: "Login Image", class: "login_image" %>
  </div>
  <div class="login_right">
    <div class="h1">
      <h1>Create an Account</h1>
    </div>
    <div class="form">
      <%= form_for @user do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, "Confirm password"  %>
        <%= f.password_field :password_confirmation%>
        <%= f.submit "Sign Up", class: "button_primary" %>
      <% end %>
      <div class="error_message">
        <% if @user.errors.full_messages.any? %>
          <ul>
            <% @user.errors.full_messages.each do |error| %>
              <li><strong><%= error %></strong></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <p>Already have an account? <%= link_to "Login", login_path %></p>
  </div>
</div>