<%= link_to 'Back', :back %>

<h1><%= @user.name %></h1>

<!--# helpers check_user_image -->
<%= check_user_image(@user) %>

<%= image_tag @user.image, alt: "User Image" %>

<% if @user.id == @current_user.id %>
  <%= link_to "Edit Profile", edit_user_path(@user.id) %>
<% end %>

<%= @user.bio %>

<p><%= @user.posts.count %> posts </p>

<!-- # user.post -->
<ul>
  <% @user.posts.each do |post| %>
    <li>
      <%= link_to image_tag(post.image, alt: post.description, class: "post_image"), post_path(post.id) %><br>
    </li>
  <% end %>
</ul>