<div class="center_wrapper">
  <p class="back_button"><%= link_to 'Back', :back %></p>
  <div class="user_center_top">
    <h1><%= @user.name %></h1>
    <!--# helpers check_user_image -->
    <div class="user_avatar">
      <%= check_user_image_large(@user) %>
    </div>
    <div class="user_follow_edit">
      <% if @user.id == @current_user.id %>
        <%= link_to "Edit Profile", edit_user_path(@user.id) %>
      <% else %>
        Follow
      <% end %>
    </div>
    <div class="user_bio">
      <%= @user.bio %>
    </div>
  </div>
  
  <div class="user_center_tab">
    <ul>
      <li class="tab_link link_current" tab_number="tab_1"><%= @user.posts.count %><%= (@user.posts.count) <= 1 ? " Post" : " Posts" %></li>
      <li class="tab_link" tab_number="tab_2"><%= @user.likes.count %><%= (@user.likes.count) <= 1 ? " Like" : " Likes" %></li>
      <li class="tab_link" tab_number="tab_3"><%= @user.saved_posts.count %><%= (@user.saved_posts.count) <= 1 ? " Save" : " Saves" %></li>
      <li class="tab_link" tab_number="tab_4"><%= @user.following.count %> following</li>
      <li class="tab_link" tab_number="tab_5"><%= @user.followers.count %><%= (@user.followers.count) <= 1 ? " follower" : " followers" %></li>
    </ul>
  </div>

  <!-- # user.post -->
  <div id="tab_1" class="user_post_list_wrapper tab_content tab_current">
    <ul>
      <% @user.posts.each do |post| %>
          <li>
            <div class="user_post_list_item">
            <%= link_to cl_image_tag(post.image, alt: post.description, class: "post_image"), post_path(post.id) %><br>
            </div>
          </li>
      <% end %>
    </ul>
  </div>

  <!-- # user.liked.posts -->
  <div id="tab_2" class="user_post_list_wrapper tab_content">
    <ul>
      <% @user.likes.each do |like| %>
          <li>
            <div class="user_post_list_item">
            <%= link_to cl_image_tag(Post.find(like.post_id).image, alt: Post.find(like.post_id).description, class: "post_image"), post_path(like.post_id) %><br>
            </div>
          </li>
      <% end %>
    </ul>
  </div>

  <!-- # user.saved.posts -->
  <div id="tab_3" class="user_post_list_wrapper tab_content">
    <ul>
      <% @user.saved_posts.each do |post| %>
          <li>
            <div class="user_post_list_item">
            <%= link_to cl_image_tag(Post.find(post.id).image, alt: Post.find(post.id).description, class: "post_image"), post_path(post.id) %><br>
            </div>
          </li>
      <% end %>
    </ul>
  </div>

  <div id="tab_4" class="user_following_list_wrapper tab_content">
    <ul>
      <% @user.following.each do |user| %>
        <li>
          <div class="user_follow_list">
            <div class="user_follow_list_left">
              <%= check_user_image_middle(user) %>
            </div>
            <div class="user_follow_list_middle">
              <strong><%= link_to user.name, user_path(user.id) %></strong><br>
            </div>
            <div class="user_follow_list_right follow_button">
              <% pre_followed = Follow.where(follower_id: @current_user.id, followed_id: user.id) %>
              <% if pre_followed.exists? %>
                <%= link_to "Unfollow", user_follow_path(user.id, pre_followed.first.id), method: "delete" %>
              <% else %>
                <%= link_to "Follow", user_follows_path(user.id), method: "post" %>
              <% end %>
            </div>
            <br>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="tab_5" class="user_following_list_wrapper tab_content">
    <ul>
      <% @user.followers.each do |user| %>
        <li>
          <div class="user_follow_list">
            <div class="user_follow_list_left">
              <%= check_user_image_middle(user) %>
            </div>
            <div class="user_follow_list_middle">
              <strong><%= link_to user.name, user_path(user.id) %></strong><br>
            </div>
            <div class="user_follow_list_right follow_button">
              <% pre_followed = Follow.where(follower_id: @current_user.id, followed_id: user.id) %>
              <% if pre_followed.exists? %>
                <%= link_to "Unfollow", user_follow_path(user.id, pre_followed.first.id), method: "delete" %>
              <% else %>
                <%= link_to "Follow", user_follows_path(user.id), method: "post" %>
              <% end %>
            </div>
            <br>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

</div>