<%= link_to 'Back', :back %>

<h1><%= @user.name %></h1>

<!--# helpers check_user_image -->
<%= check_user_image_large(@user) %>

<% if @user.id == @current_user.id %>
  <%= link_to "Edit Profile", edit_user_path(@user.id) %>
<% end %>

<%= @user.bio %>

<%= @user.posts.count %><%= (@user.posts.count) <= 1 ? " Post" : " Posts" %>

<%= @user.likes.count %><%= (@user.likes.count) <= 1 ? " Like" : " Likes" %>

<!-- # user.post -->
<p>User Posts</p>
<ul>
  <% @user.posts.each do |post| %>
    <li>
      <%= link_to image_tag(post.image, alt: post.description, class: "post_image"), post_path(post.id) %><br>
    </li>
  <% end %>
</ul>
<!-- # user.lied.posts -->
<p>Liked Posts</p>
<ul>
  <% @user.likes.each do |like| %>
    <li>
      <%= link_to image_tag(Post.find(like.post_id).image, alt: Post.find(like.post_id).description, class: "post_image"), post_path(like.post_id) %><br>
    </li>
  <% end %>
</ul>