<div class="center_wrapper">
  <p class="back_button"><%= link_to 'Back', :back %></p>
  <div class="user_center_top">
    <h1><%= @user.name %></h1>
    <!--# helpers check_user_image -->
    <div class="user_avatar">
      <%= check_user_image_large(@user) %>
    </div>
    <div class="user_bio">
      <%= @user.bio %>
    </div>
    <div class="user_follow_edit">
      <% if @user.id == @current_user.id %>
        <%= link_to "Edit Profile", edit_user_path(@user.id) %>
      <% else %>
        Follow
      <% end %>
    </div>
  </div>

  <%= @user.posts.count %><%= (@user.posts.count) <= 1 ? " Post" : " Posts" %>

  <%= @user.likes.count %><%= (@user.likes.count) <= 1 ? " Like" : " Likes" %>

  <!-- # user.post -->
  <div class="user_post_list_wrapper">
    <ul>
      <% @user.posts.each do |post| %>
          <li>
            <div class="user_post_list_item">
            <%= link_to cl_image_tag(post.image, alt: post.description, class: "post_image"), post_path(post.id) %><br>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
  <p>like</p>
  <!-- # user.lied.posts -->
  <div class="user_post_list_wrapper">
    <ul>
      <% @user.likes.each do |like| %>
          <li>
            <div class="user_post_list_item">
            <%= link_to cl_image_tag(Post.find(like.post_id).image, alt: Post.find(like.post_id).description, class: "post_image"), post_path(like.post_id) %><br>
            </div>
          </li>
      <% end %>
    </ul>
  </div>

</div>