<h2>All Posts</h2>

<ul>
  <% @posts.each do |post| %>
    <li>
      <!--# Adding comment anchoring point -->
      <a name="<%= post.id %>"></a>

      <!--# helpers check_user_image -->
      <%= check_user_image(post.user) %>

      <!--# post.user.image -->
      <%= link_to image_tag(post.user.image, class: "profile_image"), user_path(post.user_id) %>

      <!--# post.user.name -->
      <strong><%= post.user.name %></strong><br>

      <!--# post.created date -->
      <%= post.created_at.strftime("%e %b %Y") %><br>

      <!--# post.image & description -->
      <%= link_to image_tag(post.image, alt: post.description, class: "post_image"), post_path(post.id) %><br>
      <strong><%= link_to post.user.name, user_path(post.user.id) %></strong>
      <%= post.description %><br>

      <!--# post.comments.link -->
      <% if post.comments.count >= 1 %>
        <%= link_to "View all #{post.comments.count} comments", post_path(post.id) %><br>
      <% end %>

      <% if post.comments.first.present? %>
        <strong><%= post.comments.first.user.name %></strong>
        <%= post.comments.first.content %><br>
      <% end %>

      <% if post.comments.last.present? && post.comments.count > 1 %>
        <strong><%= post.comments.last.user.name %></strong>
        <%= post.comments.last.content %>
      <% end %>

      <!-- # Comment Field -->
      <%= form_for @comment do |f| %>
        <%= f.hidden_field :post_id, value: post.id %>
        <%= f.text_field :content %>
        <%= f.submit ("Comment") %>
      <% end %>

    </li>
  <% end %>
</ul>