<div class="center_wrapper post_show_wrapper">
  <!-- <%= link_to 'Back', :back %> -->
  <a name="start"></a>
  <div class="post_show_left">
    <%= cl_image_tag @post.image, alt: @post.description, class: "post_image" %><br>
    <%= @post.created_at.strftime("%e %b %Y %l:%M %p") %>
    <div class="user_post_edit">
      <!-- # If @current_user equals post user show "edit" & "delete" -->
      <% if @current_user.id == @post.user_id %>
        <%= link_to "Edit", edit_post_path(@post.id) %>
        |
        <%= link_to "Delete", post_path(@post.id), method: "delete" %>
      <% end %>
    </div>
  </div>

  <div class="post_show_right">
    <div class="post_item_header post_show_header">
      <div class="post_item_header_left">
        <%= check_user_image_small(@post.user) %>
      </div>
      <div class="post_item_header_middle">
        <strong><%= link_to @post.user.name, user_path(@post.user_id) %></strong><br>
      </div>

      <% if @current_user.id != @post.user_id %>
      <div class="post_item_header_right follow_button">
        <% pre_followed = Follow.where(follower_id: @current_user.id, followed_id: @post.user_id) %>
        <% if pre_followed.exists? %>
          <%= link_to "Unfollow", user_follow_path(@post.user_id, pre_followed.first.id), method: "delete" %>
        <% else %>
          <%= link_to "Follow", user_follows_path(@post.user_id), method: "post" %>
        <% end %>
      </div>
      <% end %>
      
      <div class="divider"> </div>
      <br>
    </div>

    <div class="post_item_interaction">
      <!--# like -->
      <div class="post_item_interaction_left">
        <!-- #<% pre_liked = @post.likes.find { |like| like.user_id == @current_user.id} %> -->
        <% pre_liked = Like.where(user_id: @current_user.id, post_id: @post.id) %>
        <% if Like.where(user_id: @current_user.id, post_id: @post.id).exists? %>
          <%= link_to image_tag("icon_unlike.svg", alt: "Unlike", class: "like_unlike_icon"), post_like_path(@post.id, pre_liked.first.id), method: "delete"  %>
        <% else %>
          <%= link_to image_tag("icon_like.svg", alt: "Like", class: "like_unlike_icon"), post_likes_path(@post.id), method: "post" %>
        <% end %>
      </div>
      <div class="post_item_interaction_middle">
        <%= @post.likes.count %><%= (@post.likes.count) <= 1 ? " Like" : " Likes" %><br>
      </div>
      <!--# save -->
      <div class="post_item_interaction_right">
        <% if @current_user.saved_posts.include? @post %>
          <%= link_to image_tag("icon_saved.svg", alt: "Unlike"), post_safe_path(@post.id, @current_user.id), method: "delete" %>
        <% else %>
          <%= link_to image_tag("icon_save.svg", alt: "Unlike"), post_saves_path(@post.id), method: "post" %>
        <% end %>
      </div>
    </div>

    <div class="post_item_description">
      <strong><%= @post.user.name %></strong>
      <%= @post.description %>
    </div>

    <!-- # Comments -->
    <div class="post_item_comment_list">
      <% @post.comments.each do |comment| %>
        <div class="post_item_comment_list_item">
          <strong><%= comment.user.name %></strong>
          <%= comment.content %><br>
          <div class="comment_edit">
            <div class="comment_date">
              <%= comment.created_at.strftime("%e %b %Y %l:%M %p") %>
            </div>
            <div class="comment_delete">
              <% if @current_user.id == comment.user_id %>
                <%= link_to "Delete", comment_path(comment.id), method: "delete" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="post_item_comment">
      <a name="end"></a>
      <!-- # Comment Field -->
      <%= form_for @comment do |f| %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.text_area :content %>
        <%= f.submit "Comment", class: "post_show_button" %>
      <% end %>

      <div class="error_message">
        <% if @comment.errors.full_messages.any? %>
          <ul>
            <% @comment.errors.full_messages.each do |error| %>
              <li><strong><%= error %></strong></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      
    </div>

  </div>
</div>