<!DOCTYPE html>
<html>
  <head>
    <title>Wdywt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
    <h1><%= link_to "LOGO", posts_path %></h1><br>
    <% if @current_user.present? %>
      Hello, <%= @current_user.name %>
      <%= link_to "Logout", login_path, method: "delete" %>
      <%= link_to "Post", new_post_path %>
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "Signup", new_user_path %>
    <% end %>
    </nav>

    <%= yield %>

    <footer>
      <p>&copy 2020 Ryan Xin from GA-SEI 37.</p>
    </footer>

  </body>
</html>
